

<div class="container text-center">
  <div class="row">
   <div class="col fs-1">
            <label for="shopname" id="shop-name">{{ shop.shop_name}}</label>
            </div>
    <div class="row fs-1">
        <label for="phone" >Phone  {{ shop.phone }}</label>
            </div>
  </div>
  <div class="row m-2">
     <div class="col fs-2">
            <label for="CityName">{{ shop.address }} </label>
            </div>
     <div class="col fs-2">
            <label for="CityName"> {{ shop.city }}, {{ shop.shop_state }} </label>
            </div>
    <div class="col fs-2">
            <label for="zip" > {{ shop.zip }}</label>
            </div>
  </div>

            
        <div class="row m-4 fs-2">
            <label for="Comments" >Comments and Reviews: {{ comment.comment }}</label>
            </div>

            <div class="row">
        <button type="submit" class="offset-md-3 btn btn-primary" id="add-comment">ADD A COMMENT</button>
            </div>
</div>
    <script src="/js/test2.js"></script>
       

{{!-- NEEDS TO BE CONNECTEd TO SHOP CREATOR --}}
        {{!-- <script src="/js/create.js"></script> --}}


